



.notice-table thead th {
    border-top: 2px solid var(--primary-color);
    background-color: #f8f9fa;
    padding: 15px 0;
    font-weight: 700;
}


.notice-table tbody td {
    padding: 15px 10px;
    vertical-align: middle;
}


.notice-table a:hover {
    color: var(--primary-hover) !important;
    text-decoration: underline !important;
}


.table-active {
    background-color: rgba(var(--primary-rgb), 0.05) !important;
}


.pagination .page-link {
    color: var(--text-dark);
}

.pagination .page-item.active .page-link {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: #fff;
}



@media (max-width: 768px) {
    .notice-table td {
        font-size: 0.95rem;
    }
}